<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        body {
            text-align: center;
            padding: 100px 0 0 0;
            color: #333333;
            background: #dddddd;
        }

        #loading {
            -webkit-animation: rotation 2s infinite linear;
            font-size: 200pt;
        }

        @-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
            }
        }
    </style>
</head>
<body>
<p id="loading"><b>404</b></p>
</body>
</html>