<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some page with some text</title>
</head>
<body>
Super formatted text.<br><br>

General usage:<br>
go to /item/[id]<br>
where id is the item id of the item you wish to access.<br>
Item IDs you can find in wiki (https://wiki.guildwars2.com/wiki/Cirque_of_Arah_(Infused) click API in the right hand side item info box and get id from url)<br>
or you can get them from better sites than this is, like https://www.gw2tp.com/item/36841-bowl-of-tropical-mousse also in the URL<br>
<br>
Orrr just go to /item/ to see all items in one big row, then use ctrl+f to find desired item by name<br>
If I manage to get that part working by then, that is...
</body>
</html>